<ion-header>
  <ion-toolbar>
    <ion-title>div-resposivas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="primeira">
    <ion-label>SOU A PRIMEIRA DIV</ion-label>
    <ion-label>SOU A PRIMEIRA DIV</ion-label>

    <ion-label>SOU A PRIMEIRA DIV</ion-label>
    <ion-label>SOU A PRIMEIRA DIV</ion-label>
    <ion-label>SOU A PRIMEIRA DIV</ion-label>

    <ion-label>SOU A PRIMEIRA DIV</ion-label>
    <ion-label>SOU A PRIMEIRA DIV</ion-label>
    <ion-label>SOU A PRIMEIRA DIV</ion-label>
  </div>

  <div class="segunda">
    <ion-label>SOU A SEGUNDA DIV</ion-label>
  </div>

  <div class="terceira">
    <ion-label>SOU A TERCEIRA DIV</ion-label>
  </div>

</ion-content>