<ion-header>
  <ion-toolbar>
    <ion-title>charts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">CHART JS DEMOSNTRAÇÃO - GRÁFICO EM BARRAS</h1>
  <div>
    <canvas id="chartBarra"></canvas>
  </div>


  <h1 style="text-align: center;">CHART JS DEMOSNTRAÇÃO - GRÁFICO EM PIZZA</h1>
  <div class="grafico-pizza">
    <canvas id="chartPizza"></canvas>
  </div>

  <br>
  <br>

  <h1 style="text-align: center;">CHART JS DEMOSNTRAÇÃO - GRÁFICO EM LINHA</h1>
  <div>
    <canvas id="chartLinha"></canvas>
  </div>

</ion-content>
