ion-checkbox{

    --border-radius:12px !important;
}

.start-avatar-novo-usuario{
    height: 130px !important;
    position: relative !important;
    left: 125px !important;
}

.start-buttons-novo-usuario{
    position: relative !important;
    left: 95px !important;
}

.teste ion-content{

    --offset-bottom: -161px !important;
}
