<ion-header>
  <ion-toolbar>
    <ion-title>animacao-scroll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="smooth-scroll">


  <div class="container">
    <h1 class="title">Animação no Scroll</h1>
    <div class="cards">
      <a href="#section2">Role para a seção 2</a>
      <div class="card card--1">
        <h1>Titulo do Card 1</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, quia. Ad excepturi possimus quo eum magni
          vitae, at odio sapiente sequi tenetur praesentium dolores quia molestias libero harum, corrupti similique.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, quia. Ad excepturi possimus quo eum magni
          vitae, at odio sapiente sequi tenetur praesentium dolores quia molestias libero harum, corrupti similique.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, quia. Ad excepturi possimus quo eum magni
          vitae, at odio sapiente sequi tenetur praesentium dolores quia molestias libero harum, corrupti similique.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, quia. Ad excepturi possimus quo eum magni
          vitae, at odio sapiente sequi tenetur praesentium dolores quia molestias libero harum, corrupti similique.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, quia. Ad excepturi possimus quo eum magni
          vitae, at odio sapiente sequi tenetur praesentium dolores quia molestias libero harum, corrupti similique.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, quia. Ad excepturi possimus quo eum magni
          vitae, at odio sapiente sequi tenetur praesentium dolores quia molestias libero harum, corrupti similique.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, quia. Ad excepturi possimus quo eum magni
          vitae, at odio sapiente sequi tenetur praesentium dolores quia molestias libero harum, corrupti similique.
        </p>
        <ion-button>comprar</ion-button>
      </div>

      <div class="card card--2">
        <h1>Titulo do Card 2</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus inventore ipsum odio repellendus autem id
          excepturi aspernatur illum quidem libero omnis consectetur architecto consequuntur incidunt quos nostrum,
          ullam repellat ducimus!
        </p>
        <ion-button>comprar</ion-button>
      </div>

      <div class="card card--3">
        <h1>Titulo do Card 3</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, aspernatur dolorum. Beatae recusandae delectus
          temporibus obcaecati nisi, porro ad illo natus exercitationem architecto praesentium! Odio corporis aliquid
          molestias incidunt alias?
        </p>
        <ion-button>comprar</ion-button>
      </div>

      <div  class="card card--4 animated-section">
        <h1>Titulo do Card 4</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam dolore est, dolorum provident commodi doloribus
          labore corrupti architecto consequuntur. Esse quaerat voluptatum earum dolore error dicta hic repellendus est
          fugiat?
        </p>
        <ion-button>comprar</ion-button>
      </div>


    </div>
  </div>

  <!-- <footer>
    <a id="origamid" href="https://www.origamid.com" target="_blank">mais em origamid.com</a>
  </footer> -->

</ion-content>