<ion-header>
  <!-- Definido tema dark para a barra superior da página do Botão -->
  <ion-toolbar color='dark'>
    <ion-button slot="start" color="dark">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Action Sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" color="danger" (click)="actionSheetIOS()">Action Sheet IOS</ion-button>
  <ion-button expand="block" color="danger" (click)="actionSheetANDROID()">Action Sheet ANDROID</ion-button>

</ion-content>
