<ion-header>
  <ion-toolbar>
    <ion-title>pagina-pai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">


    <!-- HTML BEFORE -->
    <div class="lp-htmlBefore">
      <ion-label>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit delectus accusamus aperiam eveniet fugiat, deleniti quibusdam dolor qui tempora. Deserunt voluptas similique assumenda maxime delectus voluptatum voluptates maiores minima sint?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, adipisci. Placeat corporis optio fugiat laudantium blanditiis sequi quam hic cupiditate repudiandae? Perspiciatis eaque assumenda repellendus itaque neque temporibus quam odio!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo incidunt consequatur amet ad laborum, numquam exercitationem. Molestiae consequatur alias vero quos non provident labore, quia, dicta quam numquam, nemo nam?
      </ion-label>
    </div>

    <div class="box">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam tempore voluptatibus possimus cum quae. Alias
      eligendi, voluptatibus nisi voluptatem exercitationem a harum tempora commodi beatae, vero in possimus quisquam
      cumque.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae facilis aliquam modi culpa dicta veniam dolor
      commodi molestiae illo, delectus dolores, dolore suscipit. Dolores corporis necessitatibus, neque non omnis
      maiores!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, corrupti. Modi culpa accusantium eveniet id,
      veniam obcaecati, doloribus in excepturi eos aliquid explicabo aut ratione mollitia eum, repudiandae enim.
      Officia.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non ipsum esse optio cum rerum eum accusamus praesentium
      ullam nulla odio reiciendis, voluptatem, consequatur incidunt nihil? Neque quaerat libero sed officia?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam tempore voluptatibus possimus cum quae. Alias
      eligendi, voluptatibus nisi voluptatem exercitationem a harum tempora commodi beatae, vero in possimus quisquam
      cumque.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae facilis aliquam modi culpa dicta veniam dolor
      commodi molestiae illo, delectus dolores,
      FIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIM
    </div>


    <div class="box-lp-vertical">
      <div class="lp-linha-vertical"></div>
    </div>



    <div class="box-lp-direito">
      <app-card-moshe></app-card-moshe>
    </div>


      <!-- HTML BEFORE -->
      <div class="lp-htmlBefore">
        <ion-label>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit delectus accusamus aperiam eveniet fugiat, deleniti quibusdam dolor qui tempora. Deserunt voluptas similique assumenda maxime delectus voluptatum voluptates maiores minima sint?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, adipisci. Placeat corporis optio fugiat laudantium blanditiis sequi quam hic cupiditate repudiandae? Perspiciatis eaque assumenda repellendus itaque neque temporibus quam odio!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo incidunt consequatur amet ad laborum, numquam exercitationem. Molestiae consequatur alias vero quos non provident labore, quia, dicta quam numquam, nemo nam?
        </ion-label>
      </div>

  </div>


</ion-content>