<ion-header>
  <!-- Definido tema dark para a barra superior da página do Botão -->
  <ion-toolbar color='dark'>
    <ion-button slot="start" color="dark">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Modal FormBuilder <br> Em desenvolvimento</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="start_ion-content">

  <p>BANANA</p>

  <div [innerHTML]="html"></div>

  
    <app-form-novo-usuario class="teste2"></app-form-novo-usuario>

 
  <ion-button (click)="openModal()">Novo usuário</ion-button>





</ion-content>