<ion-header>
  <ion-toolbar color='dark'>
    <ion-button slot="start" color="dark">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Bem Vindo(a)</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>

  
</ion-header>

<ion-content>
  <br>
  <p class="titulo"><strong>APP demonstrativo utilizando as tecnologias abaixo</strong></p>
  <img src="../../../../assets/ionic-logo.png" class="ionic" width="80%" height="50%">
  <img src="../../../../assets/angular-logo.png" class="angular" width="80%" height="50%">
  <br>
 
  
  <p class="titulo"><i>APP's híbridos aptos a serem publicados tanto para<br> Android quanto para IOS</i></p>
  <img src="../../../../assets/google-store.png" class="gstore" width="80%" height="50%">
  <img src="../../../../assets/apple-store.png" class="applestore" width="80%" height="50%">
  <h2 class="titulo"><strong>Desenvolvido por:<br> Ayslan Portela</strong></h2>
  <p class="titulo">Veja meu portfólio no GitHub</p>

</ion-content>