.start-avatar{
    height: 130px !important;
    position: relative !important;
    left: 65px !important;
    bottom: 42px !important;
}

.start-sliding{
    position: relative !important;
    bottom: 60px !important;
}