<ion-header>
  <!-- Definido tema dark para a barra superior da página do Botão -->
  <ion-toolbar color='dark'>
    <ion-button slot="start" color="dark">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Card-Moshe <br> Em desenvolvimento</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="start_ion-content">

  <ion-searchbar color='dark' animated placeholder="Procurar pelo e-mail/usuario"></ion-searchbar>
  <div class='start_card_usuario'>

    <ion-card class="start_card "
      style="padding: 25px !important; margin-top: 70px !important; width: 370px !important;">

      <div class='div-center'>
        <ion-label class='titulo'>

          Dados do Usuários da Corretora
        </ion-label>
      </div>
      <br>

      <div class='div-center'>
        <img src="../../assets/user.gif" width="50%" />

      </div>

      <ion-list padding class="start-list">
        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Ayslan Portela</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>ayslan@moshe.com.br</ion-label>
        </ion-item>
        <br>


        <div class='item-card'>
          <ion-label>
            <strong>SUPERVISOR ? : </strong>
            <strong>Sim</strong>
          </ion-label>
        </div>

       
        <br>
        <ion-button expand='block' color='primary'>Editar Usuário</ion-button>
     

      </ion-list>

    </ion-card>

    <ion-card class="start_card "
    style="padding: 25px !important; margin-top: 70px !important; width: 370px !important;">

    <div class='div-center'>
      <ion-label class='titulo'>

        Dados do Usuários da Corretora
      </ion-label>
    </div>
    <br>

    <div class='div-center'>
      <img src="../../assets/user.gif" width="50%" />

    </div>

    <ion-list padding class="start-list">
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Guilherme Sarmento</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>suporte@moshe.com.br</ion-label>
      </ion-item>
      <br>


      <div class='item-card'>
        <ion-label>
          <strong>SUPERVISOR ? : </strong>
          <strong>Não</strong>
        </ion-label>
      </div>

     
      <br>
      <ion-button expand='block' color='primary'>Editar Usuário</ion-button>
   

    </ion-list>

  </ion-card>





  </div>


</ion-content>