/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.div-center {
    display: flex;
    justify-content: center;
  }

.start_ion-content{
    // --background: linear-gradient(to right, #6ff700 , 60%, #e7e7e7);

    --background: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5eeea355389655.59822ff824b72.gif') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    color:whitesmoke !important;
    text-align: left !important; 
    font-size: medium !important;
    padding: 50px !important;
}

.start_input{
    color: black;
    caret-color: black;
    --background: rgb(221, 243, 255) !important;
    border-radius: 10px !important;
    border: 1px solid #6cb1ff !important;

    padding-left:  05px !important;
    padding-right: 05px !important;
    margin-bottom: 05px !important;
    
    font-size: 16px     !important;
  
    // Largula do contorno...
    max-height: 5vh !important;
}

.table-round-corner {
    // margin-top: 15px;
    width: 100%;
    text-align: left;
    overflow:hidden;
    border-collapse:separate;
    border: solid #6cb1ff 1px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}


.start_card{
    background-color: white !important;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.678) !important;
    // Interno do Card
    padding: 5px !important;
    // Externo em relação ao Content
    margin: 20px !important;
    margin-right:35px !important; 
    bottom:70px !important;   
}


.start_card_usuario {
    width: 60% !important;
    box-sizing: border-box !important;
    display: block !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    padding-top: 1rem !important;
    position: relative !important;
    left: 350px !important;
    bottom: 10px !important;
  }

  .start-list{
    position: relative !important;
    bottom: 31px !important;
    width: 330px !important;
}
  

  .item-card{

    position: relative !important;
    left:13px !important;
  }

 

  .center {
    left: 50%;
    top: 50%;
    /* border: 5px solid #FFFF00; */
    /* background-color: #FFFF00; */
    padding: 30px;
    /* left: 50%; */
    /* position: fixed; */
    top: 50px;
    left: 20px;
    }

    .avatar{
        height: 70px !important;
    }

    .start-icon{
        position: relative;
        top: 2px;
    }

    .my-modal-class{
      --width:350px !important;
      --height:340px !important;
       position: absolute !important;
       //bottom: 330px !important;
      
     }

  

  @media only screen and (max-width: 800px) {
    .start_card_usuario {
    width: 60% !important;
    box-sizing: border-box !important;
    display: block !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    padding-top: 1rem !important;
    position: relative !important;
    left: 0px !important;
      }
    
  }


